%h1 Listing articles

%table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.name
        %td= article.description
        %td= article.user.role
        %td= link_to 'Show', admin_article_path(article)
        %td= link_to 'Edit', edit_admin_article_path(article)
        %td= link_to 'Destroy', admin_article_path(article),
                                method: :delete,
                                data: { "turbo-method": :delete, confirm: "Are you sure?" }

%br

= link_to 'New Article', new_admin_article_path
