.container-fluid.mt-3
  .row
    .col-lg-4
      .card.shadow-3-strong
        .card-body
          .d-flex.justify-content-center
            = article_image_thumbnail(@article, 250, 250, "rounded-circle my-2")
          .card-title
            .d-flex.justify-content-between
              %h3= @article.name
              = @article.category
          .card-text
            .small
              = @article.description
            %b.small
              %br
              Created by #{@article.user.role} at #{@article.created_at}
          .card-footer
            .d-flex.justify-content-end
              = link_to 'Edit', edit_admin_article_path(@article), :class => "btn btn-success mx-2"
              = link_to 'Back', admin_articles_path, :class => "btn btn-warning"
    .col-lg-8
      = @article.content
