.row
  .col-md-6
    .card.shadow-3-strong.mt-2{:style => "max-width: 100%;"}
      .card-body
        .d-flex
          %table.table.table-responsive.table-striped.table-hover.table-sm
            %caption.caption-top
              .d-flex.justify-content-between
                %h5.card-title Users list
                = link_to "Add user", new_admin_user_path, :class => "btn btn-success"
            %thead
              %tr
                %th
                %th Full name
                %th Username
                %th Email
                %th Role
            %tbody
              - @users.each do |user|
                %tr#users{:onclick => "location.href='#{admin_user_path(user)}'"}
                  %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
                    = avatar(user, 32, 32, "rounded-circle")
                  %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
                    = user.first_name
                    = user.middle_name
                    = user.last_name
                  %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
                    = user.username
                  %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
                    = user.email
                  %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => user.role.description}
                    = user.role.name
      .card-footer
        .row
          .col-md-4
            %strong.mx-2 Admins:
            = User.where(:role_id => Role.find_by(:name => 'Admin').id).count
          .col-md-4
            %strong.mx-2 Managers:
            = User.where(:role_id => Role.find_by(:name => 'Manager').id).count
          .col-md-4
            %strong.mx-2 Operators
            = User.where(:role_id => Role.find_by(:name => 'Operator').id).count
