= form_for @aircraft do |f|
  - if @aircraft.errors.any?
    #error_explanation
      %h2= "#{pluralize(@aircraft.errors.count, "error")} prohibited this aircraft from being saved:"
      %ul
        - @aircraft.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :www
    = f.text_field :www
  .field
    = f.label :iata
    = f.text_field :iata
  .field
    = f.label :icao
    = f.text_field :icao
  .field
    = f.label :checkin_link
    = f.text_field :checkin_link
  .field
    = f.label :manage_booking
    = f.text_field :manage_booking
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
