.modal.fade{:id => "editUserModal-#{user.id}", "aria-hidden" => "true", "aria-labelledby" => "editUserModalLabel-#{user.id}", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-body
        .modal-header.mb-3
          %h5.modal-title{:id => "editUserModalLabel-#{user.id}"}
            Edit user: #{user.email}
          %button.btn-close{"aria-label" => "Close", "data-mdb-dismiss" => "modal", :type => "button"}
        = form_for([:admin, user]) do |f|
          .card.mb-3.my-3.shadow-3-strong{:style => "max-width: 100%; min-width: 55%"}
            .row.g-0
              .col-lg-4.text-center
                = avatar(user, 250, 250, "rounded-circle mx-3 my-3")
              .col-lg-8
                .card-body
                  .card-header
                    %h5
                      .d-flex.justify-content-between
                        = full_name(user)
                        %i= user.username
                  .container-fluid.my-3.px-1.shadow-3-strong
                    .row
                      .col-md-6
                        = f.text_field :first_name,
                                       :class => "form-control my-1 px-1",
                                       :id => "first-name-#{user.id}",
                                       :placeholder => "Name",
                                       :autocomplete => current_user.first_name
                        = f.text_field :middle_name,
                                       :class => "form-control my-1 px-1",
                                       :id => "middle-name-#{user.id}",
                                       :placeholder => "Middle name",
                                       :autocomplete => current_user.middle_name
                        = f.text_field :last_name,
                                       :class => "form-control my-1 px-1",
                                       :id => "last-name-#{user.id}",
                                       :placeholder => "Surname",
                                       :autocomplete => current_user.last_name
                        .row
                          .col-sm-3
                            %label.col-form-label{:for => "birth-date"} Birth day:
                          .col-sm-9
                            = f.date_field :birth_date,
                                           :class => "form-control datepicker my-1 px-1",
                                           :id => "birth-date-#{user.id}",
                                           :placeholder => "Birth date",
                                           :autocomplete => current_user.birth_date

                      .col-md-6
                        = f.file_field :avatar,
                                       :class => "form-control my-1 px-1",
                                       :id => "user-avatar-#{user.id}"
                        -#= link_to "X", "", :on_click => user.avatar.purge, :class => "text-danger" if user.avatar.attached?
                        = f.email_field :email,
                                        :class => "form-control my-1 px-1",
                                        :id => "email-#{user.id}",
                                        :placeholder => "Email",
                                        :autocomplete => current_user.email
                        = f.text_field :username,
                                       :class => "form-control my-1 px-1",
                                       :id => "username-#{user.id}",
                                       :placeholder => "Username",
                                       :autocomplete => current_user.username
                  .container-fluid.my-3.px-1.shadow-3-strong
                    .row
                      .text-center
                        %i.small Set new password for user (leave blank if you don't want to change it)
                      .col-md-6
                        = f.password_field :password,
                                       :class => "form-control my-1 px-1",
                                       :id => "new-password-#{user.id}",
                                       :placeholder => "New password",
                                       :autocomplete => current_user.username
                      .col-md-6
                        = f.password_field :password_confirmation,
                                         :class => "form-control my-1 px-1",
                                         :id => "new-password-confirmation-#{user.id}",
                                         :placeholder => "New password confirmation",
                                         :autocomplete => current_user.username
                  .container-fluid.my-3.px-1
                    .row
                      .col-md
                        - User.roles.keys.each do |role|
                          = f.radio_button :role, role,
                                           :class => "mx-1"

                          = f.label :role, role
            .modal-footer
              %button.btn.btn-secondary{"data-mdb-dismiss" => "modal", :type => "button"} Close
              %button.btn.btn-warning{"data-mdb-target" => "#showUserModal-#{user.id}",
                                      "data-mdb-toggle" => "modal"} Show user details
              = f.submit "Update account", :class => "btn btn-success"
