.modal.fade{:id => "showUserModal-#{user.id}", "aria-hidden" => "true", "aria-labelledby" => "showUserModalLabel-#{user.id}", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .modal-header.mb-3
          %h5.modal-title{:id => "showUserModalLabel-#{user.id}"}
            #{user.email}
          %button.btn-close{"aria-label" => "Close", "data-mdb-dismiss" => "modal", :type => "button"}
        .row.mb-3.my-3
          .card.shadow-3-strong{:style => "max-width: 100%; min-width: 55%;"}
            .d-flex.justify-content-center
              = avatar(user, 250, 250, "rounded-circle mx-3 my-3")
            .card-body
              .card-header
                %h5
                  .d-flex.justify-content-between
                    = full_name(user)
                    %i= user.username
                    %i= user.email
                %small= user.role.name
                %p.card-title.my-3
                  Birth day:
                  = user.birth_date
                %p.card-title.my-3
                  User user user
                %small.text-muted Last sign in #{user.last_sign_in_at}
                -#.strftime("%d-%m-%Y at %H:%M")
                .card-footer.text-end
                  %button.btn.btn-secondary{"data-mdb-dismiss" => "modal", :type => "button"} Close
                  = link_to "Delete", admin_user_path(user),
                                      :method => :delete,
                                      data: { "turbo-method": :delete, confirm: "Are you sure?" },
                                      :class => "btn btn-danger"
                  %button.btn.btn-primary{"data-mdb-target" => "#editUserModal-#{user.id}",
                                          "data-mdb-toggle" => "modal"} Edit
