%table.table.table-striped.table-hover.table-sm
  %caption.caption-top
    .d-flex.justify-content-between
      .h4 Users list
      - if current_user.admin?
        = link_to "Add user", admin_users_path,
                              :class => "btn btn-success",
                              "data-mdb-toggle" => "modal",
                              "data-mdb-target" => "#newUserModal"
        = render :partial => "new", :locals => { :user => @user}
  %thead
    %tr
      %th
      %th
      %th Full name
      %th Username
      %th Email
      %th Role
      %th Sign in count
      %th Last sign in at
  %tbody
    - @users.each do |user|
      = render :partial => "show", :locals => { :user => user}
      = render :partial => "edit", :locals => { :user => user}
      %tr#users{"data-mdb-toggle" => "modal", "data-mdb-target" => "#showUserModal-#{user.id}"}
        %td= user.id
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = avatar(user, 32, 32, "rounded-circle")
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = user.first_name
          = user.middle_name
          = user.last_name
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = user.username
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = user.email
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = user.role
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = user.sign_in_count
        %td{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Show user details"}
          = user.last_sign_in_at
