= form_for([:admin, @user]) do |f|
  .card.mb-3{:style => "max-width: 100%;", :class => "shadow"}
    .row.g-0
      .col-md-3
      .col-md-6
        .card-body
          .container-fluid.shadow.my-3.px-1
            .row
              .col-md-6
                = f.text_field :first_name,
                               :class => "form-control form-control-sm my-1 px-1",
                               :id => "first-name",
                               :placeholder => "Name",
                               :autocomplete => current_user.first_name
                = f.text_field :middle_name,
                               :class => "form-control form-control-sm my-1 px-1",
                               :id => "middle-name",
                               :placeholder => "Middle name",
                               :autocomplete => current_user.middle_name
                = f.text_field :last_name,
                               :class => "form-control form-control-sm my-1 px-1",
                               :id => "last-name",
                               :placeholder => "Surname",
                               :autocomplete => current_user.last_name
              .col-md-6
                = f.file_field :avatar, :class => "form-control form-control-sm my-1 px-1"
                = f.email_field :email,
                                :class => "form-control form-control-sm my-1 px-1",
                                :id => "email",
                                :placeholder => "Email",
                                :autocomplete => current_user.email
                = f.text_field :username,
                               :class => "form-control form-control-sm my-1 px-1",
                               :id => "username",
                               :placeholder => "Username",
                               :autocomplete => current_user.username
          .container-fluid.shadow.my-3.px-1
            .row
              .text-center
                %i.small Set password (minimum 6 characters)
              .col-md-6
                = f.password_field :password,
                               :class => "form-control form-control-sm my-1 px-1",
                                 :id => "new-password",
                                 :placeholder => "New password",
                                 :autocomplete => current_user.username
              .col-md-6
                = f.password_field :password_confirmation,
                               :class => "form-control form-control-sm my-1 px-1",
                               :id => "new-password-confirmation",
                               :placeholder => "New password confirmation",
                               :autocomplete => current_user.username
          .container-fluid.shadow.my-3.px-1
            .row
              .col-md-6
                %i.small Select role for user:
                = f.collection_select :role_id, Role.all, :id, :name,
                                 :class => "form-select my-1 px-1",
                                 :id => "current-select"
              .col-md-6
          = f.submit "Create account", :class => "btn btn-success"
